<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
</head>

<body>
<header>
    <h1 align="center">Style-Transfer (SANet)</h1>
</header>
<main>
    <table style="width: 1500px" align="center">
    <tbody>

        <tr>
            <form id="content_upload" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <td style="width: 450px" >
                    <div align="center">
                        <h3>SELECT CONTENT</h3>
                        <input id="inputFileToLoadContent" style="" type="file" name="content" accept=".jpg, .jpeg, .png">
                        <div style="display: block; border: 2px solid black; height: 350px; width: 350px; margin-top: 10px;">
                            <img src="{{ content_url }}" width="350" height="350">
                        </div>
                    </div>
                </td>


                <td align="center" style="width:50px;">
                    <h1>+</h1>
                </td>


                <td style="width: 450px" >
                    <div align="center">
                        <h3>SELECT STYLE</h3>
                        <input id="inputFileToLoadStyle" style="" type="file" name="style" accept=".jpg, .jpeg, .png">
                        <div style="display: block; border: 2px solid black; height: 350px; width: 350px; margin-top: 10px;">
                            <img src="{{ style_url }}" width="350" height="350">
                        </div>
                    </div>
                </td>


                <td align="center" style="width:50px;">
                    <h1>=</h1>
                </td>


                <td style="width: 450px" >
                    <div align="center">
                        <h3>RESULT</h3>
                        <button id="content_upload" style="margin-top: 20px" type="submit">STYLIZE</button>
                        <div style="display: block; border: 3px solid black; height: 350px; width: 350px; margin-top: 10px;">
                             <img src="{{ stylized_url }}" width="350" height="350">
                        </div>
                    </div>
                </td>

            </form>
        </tr>
    </tbody>
    </table>
</main>
</body>
</html>