html {
  background-image:linear-gradient(90deg, rgba(99,99,99,1) 0%, rgba(208,208,208,1) 100%);
  height:100vh;
}

#main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}


.sel-img-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25vw;
}


.drop-zone {
    width: 25vw;
    height: 25vw;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*font-family: 'Quicksand', sans-serif;*/
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    background-color: darkgrey;
    color: black;
    border: 2px solid #636363;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
    transition: 250ms;
}


.drop-zone__prompt {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    border: 2px dashed #636363;
    border-radius: 10px;
    transition: 250ms;
}

.drop-zone__prompt--over {
    border-style: solid;
    width: 90%;
    height: 90%;
    background-color: lightgrey;
}

.drop-zone__input {
    display: none;
}


.drop-zone__thumb {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #79837f;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}


.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
}

.sign-text {
    font-size: large;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}


#style-section {
    margin-top: 135px;
}

#styles-box {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: normal;
    width: 25vw;
    height: 130px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    overflow-x: hidden;
}

.style-elem {
    min-width: 100px;
    height: 100px;
    margin: 3px;
    border: 2px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#result-section {
    display: flex;
    flex-direction: column;
}


#stylized-output-zone {
    width: 30vw;
    height: 30vw;
    cursor: initial;
}



@media all and (max-width: 800px) {
#main {
    align-items: center;
    flex-direction: column;
}
.drop-zone {
    width: 40vw;
    height: 40vw;
}

#stylized-output-zone {
    width: 50vw;
    height: 50vw;
}

#result-section {
    margin-top: 5px;
}

#styles-box {
   width: 40vw;
}

#style-section {
    margin-top: 0;
}
}