html {
  background-image:linear-gradient(90deg, rgba(99,99,99,1) 0%, rgba(208,208,208,1) 100%);
  height:100vh;
}

#main {
    /*height: 80vh;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}


.sel-img-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25vw;
}


.drop-zone {
    width: 25vw;
    height: 25vw;
    padding: 1vw;;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*font-family: 'Quicksand', sans-serif;*/
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    background-color: darkgrey;
    color: black;
    border: 0.1vw solid #636363;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}


.drop-zone__prompt {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    border: 0.1vw dashed #636363;
    border-radius: 10px;
    transition: 250ms;
}

.drop-zone__prompt--over {
    border-style: solid;
    width: 90%;
    height: 90%;
    background-color: lightgrey;
}

.drop-zone__input {
    display: none;
}


.drop-zone__thumb {
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #79837f;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}


.preview {
    width: 25vw;
    height: 25vw;
    background-color: white;
    position: absolute;
    z-index: 50;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
}

.preview::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

/*.preview:hover{*/
/*    background-color: transparent;*/
/*    z-index: 50;*/
/*}*/

/*.preview img {*/
/*    min-width: 9.1vw;*/
/*    height: 9.1vw;*/
/*    margin: 0.3vw;*/
/*    border: 0.1vw solid black;*/
/*    box-sizing: border-box;*/
/*}*/

/*.preview span{*/
/*    !*position: relative;*!*/
/*    !*border: 2px solid black;*!*/
/*    position: absolute;*/
/*    background-color: lightyellow;*/
/*    padding: 5px;*/
/*    left: -1000px;*/
/*    border: 1px dashed gray;*/
/*    visibility: hidden;*/
/*    color: black;*/
/*    text-decoration: none;*/
/*}*/

/*.preview span img {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    visibility: hidden;*/
/*  !*CSS for enlarged image*!*/
/*    border-width: 0;*/
/*    padding: 2px;*/
/*}*/

/*.preview:hover span {*/
/*  !*CSS for enlarged image on hover*!*/
/*  visibility: visible;*/
/*  top: -30px;*/
/*  left: 30px; !*position where enlarged image should offset horizontally *!*/
/*}*/


.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
}

.sign-text {
    font-size: large;
    font-weight: bold;
    /*font-family: 'Quicksand', sans-serif;*/
}


#style-section {
    /*margin-top: 125px;*/
}

#style-drop-zone {
    position: relative;
    z-index: 1;
    width: 32vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 10px 0 0 10px;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

/*#styles-box {*/
/*    margin-top: 5px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: normal;*/
/*    width: 25vw;*/
/*    height: 120px;*/
/*    border: 2px solid black;*/
/*    !*border-radius: 10px;*!*/
/*    position: relative;*/
/*    overflow-x: auto;*/
/*    -webkit-overflow-scrolling: touch;*/
/*}*/

#style-drop-zone::-webkit-scrollbar {
    width: 0.5vw;
}

#style-drop-zone::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#style-drop-zone::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 0.1vw solid slategrey;
    /*border: 1px solid black;*/
    /*border-radius: 10px;*/
}

.style-elem {
    z-index: 1;
    min-width: 9.1vw;
    height: 9.1vw;
    margin: 0.3vw;
    border: 0.1vw solid black;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#result-section {
    display: flex;
    flex-direction: column;
}


#stylized-output-zone {
    width: 30vw;
    height: 30vw;
    cursor: initial;
}



@media all and (max-width: 800px) {
#main {
    align-items: center;
    flex-direction: column;
}
.drop-zone {
    width: 40vw;
    height: 40vw;
}

#stylized-output-zone {
    width: 50vw;
    height: 50vw;
}

#result-section {
    margin-top: 5px;
}

#styles-box {
   width: 40vw;
}

#style-section {
    margin-top: 0;
}
}