html {
  background-image:linear-gradient(90deg, rgba(99,99,99,1) 0%, rgba(208,208,208,1) 100%);
  /*height:120vh;*/
}

#main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 80vh;
}

header {
    display: flex;
    justify-content: center;
}

.sel-img-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    padding: 1vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    background-color: darkgrey;
    color: black;
    border: 0.1vw solid #636363;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

.small-drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

.drop-zone__prompt {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 2vw;
    width: 95%;
    height: 95%;
    border: 0.1vw dashed #636363;
    border-radius: 10px;
    transition: 250ms;
}

.drop-zone__prompt--over {
    border-style: solid;
    width: 90%;
    height: 90%;
    background-color: lightgrey;
}

.drop-zone__input {
    display: none;
}


.drop-zone__thumb {
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #79837f;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.drop-zone__thumb::after{
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.sign {
    display: flex;
    justify-content: center;
    align-self: center;
    min-width: 50px;
}

.image-element {
    cursor: pointer;
    border: 0.1vw solid #636363;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}



/****  CONTENT  ****/

#content-drop-zone {
    width: 25vw;
    height: 25vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

#contents-box {
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    width: 25vw;
    margin-top: 1vw;
    padding: 0.2vw;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: normal;

    border: 0.1vw solid #636363;
    box-sizing: border-box;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#contents-box::-webkit-scrollbar {
    height: 0.5vw;
}

#contents-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#contents-box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 0.1vw solid slategrey;
}

.content-img-elem {
    min-width: 6vw;
    height: 6vw;
    margin: 0.3vw;
}



/****  STYLE ****/


#style-select-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 10px 0 0 10px;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    width: 32vw;
    height: 25vw;
    box-shadow: none;
}

#style-select-box::-webkit-scrollbar {
    width: 0.5vw;
}

#style-select-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#style-select-box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 0.1vw solid slategrey;
}

.style-img-elem {
    min-width: 9.125vw;
    height: 9.125vw;
    margin: 0.3vw;
}

.style-img-elem-onclick {
    border: 3px solid darkred;
}

.preview {
    background-color: white;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
}

.preview::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}




/**** RESULT ****/
#result-section {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.stylized-output-zone {
    margin-top: -400px;
    width: 30vw;
    height: 30vw;
    cursor: initial;
}

#stylize-btn {
    margin-top: -420px;
    position: absolute;
}


/**********************************/

/*@media all and (max-width: 800px) {*/
/*#main {*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*}*/
/*.drop-zone {*/
/*    width: 40vw;*/
/*    height: 40vw;*/
/*}*/

/*#style-drop-zone {*/
/*    width: 60vw;*/
/*    height: 50vw;*/
/*}*/


/*.stylized-output-zone {*/
/*    width: 50vw;*/
/*    height: 50vw;*/
/*}*/

/*#result-section {*/
/*    margin-top: 5px;*/
/*}*/

/*#contents-box {*/
/*   width: 40vw;*/
/*}*/

/*#style-section {*/
/*    margin-top: 0;*/
/*}*/
/*}*/
