<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>

    <link rel="stylesheet" href="/images/style.css" />

</head>

<body>

<header>
    <h1 align="center">Style-Transfer (SANet)</h1>
</header>



<h3 id="sel_content">SELECT CONTENT</h3>
<div class="drop-zone">
    <span class="drop-zone__prompt">Drop image file here or click to upload</span>
    <input id='content' type="file" name="content" class="drop-zone__input" multiple>
</div>



<h3 id="sel_style">SELECT STYLE</h3>
<div class="drop-zone">
    <span class="drop-zone__prompt">Drop image file here or click to upload</span>
    <input id="style" type="file" name="content" class="drop-zone__input" multiple>
</div>



<h3>RESULT</h3>
<button id="content_upload" style="margin-top: 20px" type="submit" onclick="sendRequest()">STYLIZE</button>
<div style="display: block;">
     <img id="stylized" src="#" width="512" height="512">
</div>




<script src="/images/script.js"></script>
</body>
</html>