<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>

    <link rel="icon" type="image/png" href="/images/brain.png"/>
    <link rel="stylesheet" href="/images/style.css"/>

</head>

<body>

    <header>
        <h1>SANET</h1><div id="brain"></div>
    </header>

    <div id="main">

        <div class="sel-img-section">
            <h3>SELECT CONTENT</h3>
            <div class="card">
                <div class="card drop-zone" id="content-drop-zone">
                    <span class="drop-zone__prompt">Drop image file here or click to upload</span>
                    <input type="file" class="drop-zone__input" multiple>
                </div>
                <div id="contents-box">
                    <div class="drop-zone content-img-elem">
                        <h1 class="drop-zone__prompt">+</h1>
                        <input type="file" class="drop-zone__input" multiple>
                    </div>
                </div>
            </div>
        </div>

        <div class="sign">
            <h1>+</h1>
        </div>

        <div class="sel-img-section">
            <h3>SELECT STYLE</h3>
            <div class="card">
                <div class="card" id="style-select-box">
                    <div class="drop-zone style-drop-zone">
                        <h1 class="drop-zone__prompt">+</h1>
                        <input type="file" class="drop-zone__input" multiple>
                    </div>
                </div>
                <button id="select-all-styles-btn" type="button" onclick="selectAllStyles()">SELECT ALL</button>
                <button id="cancel-all-styles-btn" type="button" onclick="cancelSelectedStyles()">CANCEL SELECTED</button>
            </div>
        </div>

        <div class="sign">
            <h1>=</h1>
        </div>

        <div id="result-section">
            <h3>RESULT</h3>
            <button id="stylize-btn" type="submit" onclick="sendRequest()">STYLIZE</button>
            <div class="card">
                <div id="stylized-output-zone" class="card"></div>
                <div id="results-box"></div>
            </div>
        </div>
    </div>

    <script src="/images/script.js"></script>
</body>
</html>