<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>

    <link rel="stylesheet" href="/images/style.css" />

</head>

<body>
    <div id="main">
        <div class="element">
            <h3 id="sel_content">SELECT CONTENT</h3>
            <div class="drop-zone">
                <span class="drop-zone__prompt">Drop image file here or click to upload</span>
                <input id='content' type="file" name="content" class="drop-zone__input" multiple>
            </div>
        </div>

        <div class="sign">
            <h1 class="sign-text">+</h1>
        </div>

        <div class="element">
            <h3>SELECT STYLE</h3>
            <div class="drop-zone" id="sel_style">
                <span class="drop-zone__prompt">Drop image file here or click to upload</span>
                <input id="style" type="file" name="content" class="drop-zone__input" multiple>
            </div>
            <div id="styles_container">

            </div>
        </div>

        <div class="sign">
            <h1 class="sign-text">=</h1>
        </div>

        <div class="element">
            <button id="stylizeButton" type="submit" onclick="sendRequest()">STYLIZE</button>
            <div id="stylized">
                <span class="drop-zone__prompt">RESULT</span>
            </div>
        </div>
    </div>
    
    <script src="/images/script.js"></script>
</body>
</html>